/* ################ https://mirror.upupming.site/css/new-age.css */
my-footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

my-footer p {
  font-size: 12px;
  margin: 0;
}

my-footer ul {
  margin-bottom: 0;
}

my-footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

my-footer ul li a:hover, my-footer ul li a:focus, my-footer ul li a:active, my-footer ul li a.active {
  text-decoration: none;
}
/* ################ https://mirror.upupming.site/vendor/bootstrap/css/bootstrap.css */
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
/* ################ https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css?version=1.5.1 */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
  content: "\f007";
}
.fa-eye:before {
  content: "\f06e";
}
