 @import url('https://fonts.googleapis.com/css?family=Roboto');
html, body{
  background: #f1f1f1;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

#google-container{
  position: relative;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  width: 1000px;
  height: 300px;
  p{
    position: absolute;
    margin: 0;
    bottom: 0px;
    right: 40px;
    font-size: 60px;
    color: #444;
  }
}

#my-google-logo{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 25px solid #f1f1f1;
   box-shadow: 0 0px 4px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  &::after{
    position: absolute;
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: #f1f1f1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
  }
  &::before{
    position: absolute;
    content: '';
    display: block;
    width: 35%;
    height: 32%;
    background: #f1f1f1;
    right: 0;
    z-index: 10;
    bottom: 50%;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
  }
  .g-line{
    width: 50%;
    height: 20%;
    background: #0091ea;
    position: absolute;
    right: 0;
    margin: auto;
    border-bottom-right-radius: 4px 20px;
    top: 0;
    bottom: 0;
    z-index: 15;
  }
  
  .yellow{
    width: 40%;
    height: 40%;
    position: absolute;
    left: -15%;
    bottom: 32%;
    margin: auto;
    background:  #ffc107;
    transform: rotateZ(-48deg);
    -webkit-transform: rotateZ(-48deg);
    z-index: 3;
  }
  .green{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    border-radius: 0 0 100% 100%;
    background: #4caf50;
    z-index: 2;
  }
  .blue{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    z-index: 30;
    top: 50%;   
    z-index: 2;
    width: 35%;
    height: 32%;
    background: #0091ea;
    right: 0;
    z-index: 2;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
  }  
  .red{
    width: 81%;
    height: 50%;
    position: absolute;
    top: 0px;
    background: #f44336;
  }
}

