#p-logo{
  a {
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;

    background-size: 136px auto;

  }
}

